html,
body {
    height: 100%;

    @include tabletL{
        font-size: 13px;
    }
}

html {
    font-size: 16px;
}

body {
    font-family: $font_regular,arial,verdana;
    color: $text-primary-color;
    background: $body-bg;
    overflow-x: hidden;
    font-size:$font-size-base;
}

.container{
    padding:0;
    max-width:1276px;
    &.md{
        max-width:960px;
    }
    @include Desktop1300{
        padding: 0px 30px;
    }
    @include mobile{
        padding: 0px 15px;
    }    
}

.modal-open {
    overflow: auto;
    padding-right: 0px !important;
    overflow-x: hidden;
    overflow-y: hidden;
}

img {
    display: block;
    max-width: 100%;
}

ul,
li {
    list-style: none;
}


td {
    a {
        &:hover,
        &:focus {
            color: $grey-medium;
            text-decoration: none;
            outline: none;
        }
    }
}

a {
    color: $anchor-color;
    cursor: pointer;
    text-decoration: none;
    &:hover, &:focus {
        color: $anchor-color-hover !important;
    }
}

p {
    margin: 0 0 15px;
}

input {
    outline: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: $font-bold;
}

h1{
    font-size:$font-size-xxl;
}
h2{
    font-size:$font-size-xl;
}
h3{
    font-size:$font-size-lg;
}
h4{
    font-size:$font-size-md;
}
h5{
    font-size:$font-size-sm;
}
h6{
    font-size:$font-size-xs;
}
.display-block{
    display:block !important;
}
.ellipsis {
    width: 160px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.text-underline {
    text-decoration: underline;
}

.col-auto {
    width: auto;
}
.max-wrapper{
    max-width:$max-wrapper;
    margin: 0 auto;
    position: relative;
    width:96%;
}

.loader {
    width: 34px;
    display: none;
    margin: auto;
}

.verticle-align {
    display: table;
    width: 100%;
    height: 100%;
    .inner {
        display: table-cell;
        vertical-align: middle;
    }
}
.not-found{
    position: relative;
    height: calc(100% - 54px);
    width: 100%;
    /* min-height: calc(100vh - 62px); */
    min-height: calc(100vh - 138px);
    .not-found-panel{
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        margin: auto;
        height: 370px;
        text-align: center;
        h1{
            font-size: 9.4rem;
            margin-bottom: 0;
            color: $secondary-color;
        }
        h3{
            padding-bottom: 12px;
            font-size: 1.4rem;
            padding-top: 9px;
            font-family: $font_regular;
        }
    }
}


.primary-color-bg {
    background-color: $primary-color;
}
.secondary-color-bg {
    background-color: $secondary-color;
}
.primary-color{
    color: $primary-color;
}
.secondary-color{
    color: $secondary-color;
}
.danger-color{
    color: $danger-color;
}
.warning-color {
    color: #F0AD4E;
}


.resize-none {
    resize: none;
}

.display-block {
    display: block;
}

.display-inline-block{
    display:inline-block;
}

.clearfix {
    clear: both;
    display: block;
    overflow: hidden
}

strong {
    font-family: $font_bold;
    font-weight: normal;

    &.title-head{
        font-family: $font_regular;
       font-weight:bold;
    }
}

.scrollable{
    overflow-y:auto;
    &::-webkit-scrollbar-track
    {
        background-color: $body-bg;
        border-radius: 51px;
    }

    &::-webkit-scrollbar
    {
        width: 6px;
        background-color: $body-bg;
        border-radius: 51px;
    }

    &::-webkit-scrollbar-thumb
    {
        background-color: #cfd4d9;
        border-radius: 51px;
    }

}

.margin-bottom-20px {
    margin-bottom: 20px;
}


.margin-bottom-30px {
    margin-bottom:30px;
}

/*
 *  STYLE 2 scrollbar
 */

.scrollbar
{
    width: 102%;
    overflow-y: auto;
    max-height: 100%;
    min-height: 470px;
    max-height: 400px;
    overflow-x: hidden;
    margin: 0;
    padding-right: 5px;
}

.filters{
    .scrollbar{
        min-height: inherit;
        max-height: 298px;
    }
}

// Scroll Id
#style-2::-webkit-scrollbar-track
{
    border-radius: 15px;
    background-color: #f1f3f5;
}

#style-2::-webkit-scrollbar
{
    width: 5px;
    background-color: #ced3d8;
}

#style-2::-webkit-scrollbar-thumb
{
    border-radius: 15px;
    background-color: #ddd;
}

// Scroll Class

.style-2::-webkit-scrollbar-track
{
    border-radius: 15px;
    background-color: #f1f3f5;
}

.style-2::-webkit-scrollbar
{
    width: 5px;
    background-color: #ced3d8;
}

.style-2::-webkit-scrollbar-thumb
{
    border-radius: 15px;
    background-color: #ddd;
}

// Scroll Body

/* body::-webkit-scrollbar-track
{
    border-radius: 15px;
    background-color: #f1f3f5;
}

body::-webkit-scrollbar
{
    width: 5px;
    background-color: #ced3d8;
}

body::-webkit-scrollbar-thumb
{
    border-radius: 15px;
    background-color: #ddd;
}
 */

.pointer{
    cursor: pointer

}
.xy-scrollbar{
    max-height: 100%;
    width: 100%;
    min-height:100%;

    .scrollable{
        height:calc(100vh - 213px);
     overflow-y: initial;
    overflow-x: auto;

    }

}

#style-3::-webkit-scrollbar-thumb
{
    border-radius: 15px;
    background-color: #ced3d8;
    height: 5px;
    opacity:1;
}

#style-3::-webkit-scrollbar:horizontal
{
    height: 5px;
    width:100px;
    background-color: transparent;
    transition:all 0.3s linear;
}

#style-3::-webkit-scrollbar-track:horizontal {
    border-radius: 15px;
    background-color: transparent;
    height: 5px;
    width:60px;
    transition:all 0.3s linear;
}
#style-3::-webkit-scrollbar-corner {
    height: 6px;
    background-color: transparent;
    transition:all 0.3s linear;
}
#style-3::-webkit-scrollbar-thumb:horizontal {
    border-radius: 15px;
    background-color: rgba(206,211,216,1);
    transition:all 0.3s linear;
}

// Textarea
textarea::-webkit-scrollbar {
    width: 5px;
    background-color: #ced3d8;
}

textarea::-webkit-scrollbar-track {
    border-radius: 15px;
    background-color: #f1f3f5;
}

textarea::-webkit-scrollbar-thumb {
    border-radius: 15px;
    background-color: #ddd;
}


/*===
    font families
===*/

.font-regular{
    font-family:$font-regular;
}

.font-bold{
    font-family:$font-bold;
}

#app{
    height:100%;
}

.width-100{
    width: 100%;
}


.status-box, .tags {
    color: #fff;
    padding: 2px 16px 0px;
    font-size: 11px;
    border-radius: 2px;
    margin-left: 7px;
    min-width: 77px;
    display: inline-block;
    text-align: center;
    text-transform: uppercase;
}
.urgent{
    color: #D0021B;
}
.pull-right{
    float: right;
}

$spaceamounts: (0, 5, 10, 15, 20, 24, 25, 30, 35, 40, 45, 50, 75, 100, 130); // Adjust this to include the pixel amounts you need.
$sides: (top, bottom, left, right); // Leave this variable alone

@each $space in $spaceamounts {
  @each $side in $sides {
    .m-#{str-slice($side, 0, 1)}-#{$space} {
      margin-#{$side}: #{$space}px !important;
    }

    .p-#{str-slice($side, 0, 1)}-#{$space} {
      padding-#{$side}: #{$space}px !important;
    }
  }
}
