.custom-datepicker {
	label {
	}
	.mx-datepicker {
		width: 100%;
	}
	.mx-input {
		border: 1px solid #B2B2B2;
		height: 38px;
	    padding: 9px 16px;
    	line-height: 1.5;
	}
	svg {
		&.mx-input-append {
			display: none;
		}
		text {
			display: none;
		}
	}
	.mx-calendar-icon {
    	background-image: url('/images/front/svg/calendar.svg') !important;
    	background-position: 50%;
    	background-repeat: no-repeat;
    	stroke: none;
	}

}
.mx-calendar-content {
	.cell {
		&.actived {
			background-color: #3EC8AA !important;
		} 
		&:hover {
			background-color: #eee5f7 !important;
		}
	}
}
.mx-panel-date {
	td {
		&.today {
			color:#3EC8AA !important;
		}
	}
}
