.footer-section{
	border-top: 1px solid $grey-lite;
	.section-padd{
		padding: 50px 0px 10px 0px;
	}
}

.footer-logo {
    max-width: 204px;
    margin-bottom: 32px;
}
.footer-location {
    margin-bottom: 25px;
}
.social-icons {
	ul {
		padding: 0;
	}
	li {	
		display: inline-block;
		width: 42px;
    	height: 42px;
    	border-radius: 100%;
    	background-color: $grey-Elite;
    	margin-right: 16px;
    	&:last-child {
    		margin-right: 0;
    	}
	}
	a {
	    color: $grey-dark;
	    font-size: 20px;
	    text-align: center;
	    line-height: 42px;
	    margin-left: 11px;
	    &:hover, &:focus {
	    	text-decoration: none;
	    	color: $primary-color-md !important;
	    	transition: ease 0.5s;
	    }
	}
	i.icon-facebook {
		margin-left: 4px;
	}
	@include mobile{
		ul{
			text-align: center;
			li{
				a{
					margin-left: 0px;
				}
			}
		}
	}
}

.footer-links {
	ul {
		li {
			margin-bottom:16px;
			margin-right: 10px;
			a {
				color: $grey-Edark;
				&:hover,&:focus {
					text-decoration: none;
				}

			}
			strong {
				color: $text-primary-color;
			}
			&:last-child {
				margin-right: 0px;
			}
		}
	}
	.app-images {
		ul {
			padding: 0;
			li {
				display: inline-block;
			}
		}
		img {
			width: 120px;
		    height: 40px;
		    @include Desktop1440{
			    width: 104px !important;
			    height: 38px !important;
		    }		    
		    @include tabletF{
			    width: 80px !important;
			    height: 27px !important;
		    }
		    @include mobile{
		    	width: 153px !important;
    			height: 49px !important;
		    }		    	    		    
		}
	}
	@include mobile{
		ul{
			padding-left: 0px;
			margin-bottom: 10px;
			li{
				margin-bottom: 10px;
				a{
					font-size: 13px;
				}
			}
		}
	}
	.app-images{
		img{
		    /* width: 140px;
		    height: 48px; */			
 			width: 120px;
    		height: 41px;

		}
	}
}
.footer-copyrights {
	p {
		color: $grey-Edark;
	}
	@include mobile{
		.float-left{
		    float: none !important;
		    text-align: center;			
		    p{
		    	font-size: 12px;
		    }
		}
		.float-right{
		    float: none !important;
		    text-align: center;	
		    &.terms-links{
		    	a{
		    		font-size: 12px;
		    	}
		    }			
		}
	}
}
.terms-links {
	ul {
		padding: 0;
		li {
			display: inline-block;
			a {
				color: $grey-Edark;
				text-decoration: none;
			}
			&:after {
				content:'';
				border-right: 1px solid $grey-lite;
    			margin: 0 15px;
			}
			&:last-child:after {
				border-right: none;
				margin: 0;
    		}
		}
	}
}
.top-footer {
    border-bottom: 1px solid $grey-lite;
    margin-bottom: 30px;
    padding-bottom: 15px;
}
