$nav-font-size:$font-size-base;
$nav-color:$grey-Edark;
$nav-font:$font-bold;

.navigation
{
    float:right;
    ul{
        padding:0;
        margin:0;
        display:block;
        li{
            vertical-align: middle;
            display: inline-block;
            margin: 0 16px;
            position: relative;
            height: 57px;
            padding: 12px 0 0px;
            &.bell-li{
                margin-left: -2px;
            }
            a{
                font-size:$nav-font-size;
                color:$nav-color;
                font-family:$nav-font;
                text-decoration:none;
                padding-left: 16px;
                padding-right: 16px;
                text-decoration:none !important;
                display:block;
                &:hover{
                    text-decoration:underline;
                    color:$nav-color !important;
                }
                &.router-link-active{
                    color:$nav-color !important;
                    &:after{
                        content: '';
                        background-color: #3EC8AA;
                        position: absolute;
                        height: 4px;
                        width: 100%;
                        left: 0;
                        right:0;
                        margin:0 auto;
                        bottom:0px;
                    }
                }
                &.btn{
                    &:hover{
                        color:#fff;
                    }
                    span{
                        &:hover{
                            color:#fff;
                        }
                    }
                }
            }
            &:first-child{
                margin-left: 0px;
            }
            &:last-child{
                a{
                    font-family:$font_medium;
                    color:#fff !important;
                    text-decoration:none !important;
                    min-width: 140px;
                }
                }
            }
            .post-job-btn{
                top: -12px;
                position: relative;
                font-family: $font_medium;
            }
        }
    .action-icon{
        font-size: 24px;
        vertical-align: middle;
        color:$grey-dark;
        cursor:pointer;
        position: relative;
        top: -2px;
        &.icon-cog2{
            font-size:28px;
        }
    }
    &.main-navigation{
        @include tabletF{
            position: absolute;
            bottom: auto;
            width: 100%;
            /* overflow: hidden; */
            opacity: 0;
            border-bottom: 1px solid #ccc;
            border-top: 0px solid;
            visibility: hidden;
            transition: 0.3s ease-in-out;
            top: 70px;
            left: 0;
            background-color: #fff;
            ul{
                width: 100%;
                li{
                    width: 100%;
                    margin: 0px;
                    padding: 10px 0;
                    text-align: center;
                    a{
                        padding-left: 0px;
                        padding-right: 0px;
                        &.router-link-exact-active{
                            background-color: #3EC8AA;
                            &:after{
                                display: none;
                            }
                        }
                    }
                    .btn{
                        display: table;
                        margin: auto;
                        padding: 10px 0px;
                    }
                    .user-login-detail{
                        width: 100%;
                    }
                }
            }
        }
        &[active="true"]{
            opacity: 1;
            visibility: visible;
        }
        @include mobile{
            /* top: 51px; */
            top: 65px;
            position: fixed;
            height: calc(100% - 63px);
            top: 65px;            
            ul{
                li{
                    height: auto;
                    padding: 13px 0px;
                    a{
                        padding-right: 0px;
                    }
                    .post-job-btn{
                        top: 0;
                        /* margin-bottom: 18px; */
                        line-height: 17px;
                        margin-bottom: 10px;
                    }
                    &:last-child{
                        padding-top: 0px;
                    }
                }
            }
        }
    }
    @include mobile{
        ul{
            li{
                padding: 0px 0px !important;
                margin-bottom: 9px !important;
                a{
                    /* padding: 8px 0px; */
                    padding: 6px 0px 6px 0px !important;
                    font-size: 14px;                    
                    &.router-link-active{
                        background-color: $primary-color-md;
                        color: #fff !important;
                        &:after{
                            display: none;   
                        }
                        &:hover, &:focus{
                            color: #fff !important;
                        }
                        &.no-active{
                            background-color: transparent !important;
                        }
                    }
                }
            }
        }
    }
}

.left-cog {
    text-align: right;
    position: relative;
    float:right;

    @include tablet{
        position: fixed;
        top: 12px;
        right: 56px;
    }

    i {
        font-size: 24px;
        top: 2px;

        @include tabletL{
            font-size: 21px;
        }

        &.icon-notifications-outline {
            position: relative;
            font-size: 26px;
        }
    }
    span {
        margin-left: 21px;
        vertical-align: middle;
        display: inline-block;
        cursor: pointer;
    }
    .notify-dropdown {
        position: absolute;
        right: -19px;
        top: 12px;
        width: 335px;
        max-height: 277px;
        box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
        -webkit-box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
        border: 1px solid $grey-medium;
        padding: 25px;
        text-align: left;
        background-color: #fff;

        &.scrollbar {
            min-height: 338px;
        }
        .notify-block {
            position: relative;
        }
        .notify-image {
            width: 32px;
            height: 32px;
            border-radius: 100%;
            overflow: hidden;
            display: inline-block;
            vertical-align: top;
        }
        .right-notification {
            width: calc(100% - 42px);
            display: inline-block;
            border-bottom: 1px solid $grey-medium;
            margin-left: 6px;
            margin-bottom: 14px;
            padding-bottom: 17px;

            p {
                font-size: 12px;
                margin-bottom: 0px;
                &:first-child {
                    margin-bottom: 0;
                    color: $grey-dark;
                    strong {
                        color: #1a1a1a;
                    }
                    span{
                        margin-top: -9px;
                    }
                }
                &:nth-child(2) {
                    margin: 4px 0px;
                    line-height: 14px;
                }
                &:nth-child(3) {
                    color: $grey-dark;
                }
            }
            span {
                color: $secondary-color;
                margin-left: 0;
            }
        }
    }
    a {
        position: relative;
        top: 2px;
        i{
            color: #1A1A1A;
        }
    }
}

.user-img {
    width: 37px;
    height: 37px;
    display: inline-block;
    border-radius: 100%;
    vertical-align: middle;
    overflow: hidden;
    background-size: cover;
    background-color: transparent;
    margin-left: 3px;
    position: relative;
    border: 1px solid #E0E0E0;
    background-position: 50%;
    &.no-image{
        position: relative;
        &:after{
            content: "\E90F";
            font-family: 'icomoon';
            left: 0;
            right: 0;
            display: block;
            margin: auto;
            color: #7d7d7d;
            position: absolute;
            top: -2px;
            bottom: 0;
            display: flex;
            align-items: center;
            align-content: center;
            justify-content: center;
        }
    }
}

.notification-block{
    position: relative;
    &:after{
        content: "";
        position: absolute;
        right: 1px;
        top: -6px;
        width: 22px;
        height: 25px;
/*         background-image: url('../images/caret-top.png'); */
        background-repeat: no-repeat;
        background-size: 100% auto;
        box-shadow: 0 0 0px 0 rgba(0, 0, 0, 0.2);
        transform: rotate(180deg);
        -webkit-transform: rotate(180deg);
    }
    .notify-list{
        &:last-child{
            .right-notification{
                margin-bottom: 0;
                padding-bottom: 0;
                border-bottom: 0;
            }
        }
    }
}
.nav-icons {
    i {
        margin-right: 13px;
        font-size: 24px;
        vertical-align: middle;

        @include tabletL{
            font-size: 22px;
            display: none;
        }

        @include tablet{
            font-size: 22px;
            display: inline-block;
        }
    }
}

.user-login-detail{
    margin-top: -7px;
    .username{
        display: inline-block;
        vertical-align: middle;
        margin: 0 0 0 10px;
        padding: 0;
        position: relative;
        top: 1px;
        font-family:$font-medium;
    }
}

.post-job-btn{
    color:#fff !important;
    &:hover{
        color:#fff !important;
    }
}
.notify-block {
    position: relative;
}

.badge-count{
    width: 18px;
    height: 18px;
    border-radius: 100%;
    background: $primary-color;
    display: block;
    position: absolute;
    top: 2px;
    right: -7px;
    border: solid 2px #fff;
    text-align: center;
    font-size: 10px;
    color: #fff;
    line-height: 14px;
    font-family:$font-regular;
}

.profilesession{
    li {
        padding-top: 0 !important;
        height: 44px !important;
        a{
            min-width: 0 !important;
        }
    }
    @include tabletportrait{
        li{
            display: inline-block !important;
            width: auto !important;
            margin-bottom: 0px !important;
            &.account-li{
                width: 200px !important;
                display: inline-block !important; 
                float: left !important;     
                margin-bottom: 0px !important;
                height: auto !important;                          
            }
             a.router-link-exact-active{
                background-color: transparent !important;
             }
            &.account-info-keys {
                float: right;
                margin-right: 15px !important;
                margin-bottom: 0px !important;
                margin-top: -6px !important;
                li{
                    height: auto !important;
                    margin-bottom: 0px !important;
                    padding: 0px 5px !important;                    
                }             
            }
        }
        .notify-dropdown{
            right: -59px;
            width: 400px;
            max-width: 400px;
        }
    }
    @include tabletF{
        li{
            display: inline-block !important;
            width: auto !important;
            margin-bottom: 0px !important;
            &.account-li{
                width: 200px !important;
                display: inline-block !important; 
                float: left !important;     
                margin-bottom: 0px !important;
                height: auto !important;                          
            }
             a.router-link-exact-active{
                background-color: transparent !important;
             }
            &.account-info-keys {
                float: right;
                margin-right: 15px !important;
                margin-bottom: 0px !important;
                margin-top: -6px !important;
                li{
                    height: auto !important;
                    margin-bottom: 0px !important;
                    padding: 0px 5px !important;                    
                }             
            }
        }
        .notify-dropdown{
            right: -59px;
            width: 400px;
            max-width: 400px;
        }
    }
}


.mac-browser{
    .navigation
    {
        ul{
            li{
                a{
                    font-family:$font-medium;
                }
            }
        }
    }
}
