@include tabletportrait{
    .section{
        padding: 50px 0px !important;
    }
    .job-post-list{
        padding: 8px 0px 32px 0px;
    }
    .featured-categories-home{
        text-align: center;
        padding:20px 0px 7px 0px !important;
    }
    .popular-services-section {
        .section-title {
            padding-bottom: 30px;
        }
    }
    .section-title {
        padding-bottom: 30px;
    }
    .app-store-section {
        .two-column {
            flex-direction: inherit;
            .content-sec {
                h2 {
                    font-size: 24px;
                    padding-right: 26px;
                }
                p {
                    padding-right: 15px;
                }
            }
        }
        .app-store-img {
            img {
                height: auto;
                width: 100%;
                max-width: 770px;
            }
        }
        .avability-app {
            a {
                margin-right: 10px;
            }
            .apple-store-btn {
                img {
                    width: 132px;
                }
            }
            .google-store-btn {
                img {
                    width: 147px;
                }
            }
        }
    }
    .join-us-section {
        .two-column {
            flex-direction: inherit;
            .content-sec {
                padding-right: 15px;
            }
        }
        .join-us-image {
            img {
                height: auto;
                width: 100%;
                max-width: 770px;
            }
        }
    }
    .how-it-work{
        .icon{
            img{
                height: 160px;
                margin-bottom: 27px;
            }
        }
    }
    .Popular-services-slides {
        li {
            text-align: center;
        }
    }
    .my-job-indication, .bidding-sec{
        padding-top: 30px;
    }
    .section-padd.sm{
        padding: 30px 0px;
    }
    .testmonial-block{
        p{
            font-size: 18px;
        }
    }
    .section.padding-sm{
        padding: 20px 20px;
    }
    .wrapper-sm{
        h1{
            margin: 10px 0 30px 0;
        }
    }
    .labelheading {
        font-size: 15px;
    }
    .job-notification{
        &.flexable{
            .col-md-6.p-r-0{
                flex: unset;
            }
        }
        .job-poster{
            &:after{
                display: none;
            }
        }
    }
    .search-filter{
        input.search-service{
            width: calc(100% - 31%);
        }
        .container-zip-code{
            width: 30%;
        }
    }
    .member-details,.job-details{
        p{
            &.offer{
                padding-left: 37px;
            }
        }
    }
    .bidding-navigation{
        ul{
            flex-direction: column;
            li{
                margin-right: 0px;
                margin-bottom: 25px;
            }
        }
    }
}

@include tablet{
    
    .main-banner.home-banner {
        height: 420px;

        .main-img {
            height: 100%;

            img {
                width: 100%;
                height: 100%;
            }
        }
    }

    .main-banner.explore-banner {

        height: 420px;

        .main-img {
            height: 100%;

            img {
                width: 100%;
                height: 100%;
            }
        }
    }

    .footer-section{
        .col-md-3{
            flex: 0 0 50%;
            max-width: 50%;
            .footer-links{
                ul{
                    padding-left: 0px;
                }
            }
        }
    }
    .section-local-work {
        .list-description {
            h4 {
                font-size: 19px;
            }
            p {
                max-width: 210px;
            }
        }
    }
    .how-it-work {
        .list-description {
            h4 {
                font-size: 19px;
            }
        }
    }
    .ready-to-meet {
        .two-column {
            flex-direction: inherit;
            .content-sec {
                padding-right: 16px;
                h2 {
                    font-size: 22px;
                }
            }
        }
        .image-sec {
            img {
                height: auto;
                width: 100%;
                max-width: 770px;
            }
        }
        .avability-app {
            a {
                margin-right: 10px;
            }
            .apple-store-btn {
                img {
                    width: 132px;
                }
            }
            .google-store-btn {
                img {
                    width: 152px;
                }
            }
        }
    }
    .next-project {
        .section-title {
            p {
                max-width: 630px;
                margin: 0 auto;
                line-height: 1.3;
            }
        }
    }
    .testmonial-block {
        padding: 25px;
    }
    .get-started-section {
        h1 {
            font-size: 28px;
        }
    }
    .wrapper-sm {
        max-width: 700px;
    }
    .notification-block {
        left: -19px;
        &:after {
            right: -16px;
        }
        .notification-limit {
            span {
                margin-left: 16px;
            }
        }
    }
}

@include tabletF{
    .section {
        padding: 60px 0px;
    }
    .section-title {
        padding-bottom: 30px;
    }
    .social-icons {
        li {
            width: 35px;
            height: 35px;
            margin-right: 6px;

        }
        a {
            margin-left: 8px;
            font-size: 16px;
            line-height: 35px;
        }
    }
    .featured-categories-home {
        padding: 20px 0px 7px 0px !important;
        text-align: center;
    }
    .avability-app {
        a {
            margin-right: 14px;
        }
        .google-store-btn {
            img {
                width: 159px;
            }
        }
    }
    .job-bid-btn {
        .chat-message {
            i {
                margin-right: 10px;
            }
        }
    }
    .campaigns {
        margin: 40px 0;
    }
    .featured-profile-section {
        margin-top: 0px;
        h3 {
            margin-left: 0;
        }
        .featured-places {
            margin-left: 0;
        }
    }
    .notification-block {
        left: -19px;
        &:after {
            right: -16px;
        }
        .notification-limit {
            span {
                margin-left: 16px;
            }
        }
    }
}

@include mobile{
    .section {
        padding: 40px 0px;
    }

    .notifications-dropdown{
        ul{
            li{
                &:last-child{
                    position: static!important;
                }
            }
        }
    }



    .wrapper-sm {
        max-width: 630px;
    }
    .mt-mob-20 {
        margin-top: -20px;
    }
    h1{
        font-size: 20px;
    }
    h2{
        font-size: 18px;
    }
    .ready-to-meet {
        .two-column {
            flex-direction: column-reverse;
        }
    }
    .bidding-sec{
        h2{
            padding-bottom: 25px;
        }
    }
    .job-post-page, .featured-profile-page{
        .profile-head{
            margin-top: 20px;
            h1{
                margin: 0px 0 10px 0;
            }
        }
    }
    .how-it-work {
        .list-description {
            h4 {
                font-size: 18px;
            }
        }
    }
    .my-job-indication, .bidding-sec{
        padding-top: 20px;
    }
    .sign-up-info{
        .custom-radio.boxed {
            &:first-child {
                margin-bottom: 13px;
            }
            margin-bottom: 23px !important;
            width: 98%;
            margin: auto;
            label{
                margin-bottom: 0px !important;
                span {
                    font-size: 13px;
                }
            }

        }
    }
    .job-details{
        .customer-rating{
            .vue-star-rating > span.vue-star-rating-star svg {
                font-size: 12px;
                width: 18px;
                height: 14px;
            }
        }
    }
    .fb-btn {
        a {
            span {
                font-size: 21px;
                margin-left: -29px;
                top: 9px;
            }
        }
    }
    .featured-categories-home{
        .services-list{
            a{
                width: 100%;
            }
            .list-description{
               p {
                margin-left: 0px;
            }
        }
        &.service-list-icons {
            .list-description{
                display: block;
                text-align: center;
                width: auto;
                p {
                    margin-left: -8px;
                }
            }
        }
    }
}
.next-project{
    .vue-star-rating{
        display: block !important;
        margin-bottom: 12px;
        padding: 0;
    }
    span.review-job{
        padding-left: 0;
        &.review-job.left-border{
            padding-left: 5px;
        }
    }
    .service-detail{
        .go-back{
            float: right;
            padding-right: 0;
        }
    }
}
.footer-section{
    .col-md-3{
        flex: 0 0 100%;
        max-width: 100%;
    }
}
.service-avaliable{
    padding-top: 30px;
}
.p-r-0{
    padding-right: 15px !important;
}
.p-l-0{
    padding-left: 15px !important;
}
.category-section{
    padding-bottom: 20px;
}
.other-categories{
    .category-section{
        padding-bottom: 20px;
        .category-items{
            padding: 0px !important;
        }
    }
}
.search-fixture{
    height: auto;
    .search-fix{
        position: relative;
    }
}
.category-section-search{
    padding-top: 17px;
    h1{
        font-size: 17px;
    }
}
.job-status.job-poster{
    &:after{
        display: none;
    }
}
.job-detail-page{
    .post-job-description{
        p{
            font-size: 13px;
        }
    }
}

.job-post-container.section-padd.sm {
    padding-top: 20px !important;
}
.chat-message{
    padding-left: 0 !important;
    i{
        margin-right: 0;
    }
}
.wrapper-sm{
    h1 {
        margin: 0px 0 20px 0;
        text-align: center;
    }
}
.get-started-section {
    h1 {
        font-size: 22px;
    }
}
.already-signup.login {
    margin-bottom: 20px;
    font-size: 16px;
}
.my-job-lising-content{
    .job-common-description{
        .p-l-0,.p-r-0{
            padding-left: 0px !important;
            padding-right: 0px !important;
        }
        &.job-perform{
            .chat-message{
                i{
                    padding: 0;
                    margin-right: 0px;
                }
            }
        }
        .job-bid-btn {
            text-align: center !important;
        }
    }
}
.provider-information{
    padding-right: 0px;
}
.my-job-indication, .bidding-sec{
    p{
        margin-bottom: 0;
        font-size: 12px;
    }
}
.job-main-heading{
    .content-sec{
        .job-image{
            margin-right: 0px;
            width: 180px;
            height: 180px;
        }
        .job-content{
            width: 100%;
            h2{
                text-align: center;
            }
            .job-notification{
                &.flexable{
                    flex-direction: column;
                    .col-md-8, .col-md-6{
                        width: 100%;
                        padding: 0px !important;
                    }
                    .job-details{
                        text-align: left;
                        p{
                            margin-bottom: 5px !important;
                            padding-right: 0 !important;
                            &.service-requirment{
                                top: -2px;
                            }
                        }
                    }
                }
            }
        }
    }
}

.detail-page{
    .member-details{
        p {
            display: inline-block;
            padding-right: 20px;
        }
    }
    .post-job-description{
        p{
            font-size: 15px;
            line-height: 23px;
            &.member-since{
                position: absolute;
                right: 0;
            }
        }
    }
}
.jobs-post-files{
    h3{
        font-size: 16px;
        margin-bottom: 14px;
    }
    .coustomer-info-line{
        position: relative;
        i{
            position: absolute;
            left: 0;
        }
        p{
            padding-left: 35px;
            font-size: 14px;
            a{
                display: inline-block;
            }
        }
    }
}
.profile-form-section {
    .personal-detail {
        .profile-image-placeholder {
            height: 90px;
            width: 90px;
            font-size: 46px;
            line-height: 82px;
            top: -29%;
        }
    }
}
.personal-provider-detail {
    .profile-image-placeholder {
        height: 90px;
        width: 90px;
        line-height: 82px;
        top: -29%;
        background-size: 50% !important;
    }
}
.my-job-listing{
    .job-notification{
        .jobs-done{
            position: relative;
            .job-category{
                padding-right: 90px;
            }
            .job-status{
                position: absolute;
                right: 0px;
                top: 0;
                .tags{
                    margin-top: 0px;
                }
            }
        }
    }
}

.post-bid-form{
    .modal{
        padding: 0px !important;
    }
    .modal-content {
        width: 100%;
    }
}
label{
    &.nolabel {
        display: none;
    }
}
ul.profilesession {
    float: left;
    width: 100%;
    border-top: 1px solid #ccc;
    padding-top: 19px;
}
.job-common-description.job-perform{
    .chat-message{
        i{
            padding: inherit;
            position: relative;
            top: -5px;
        }
    }
}
.my-job-lising-content{
   .job-details {
    margin-bottom: 0;
}
}
.notify-dropdown {
    .right-notification {
        .notification-limit {
            span {
                margin-left: 0px;
            }
        }
    }
}
.profile-budget{
    h2{
        font-size: 15px;
    }
    label{
        font-size: 14px;
    }
    .patment-detail{
        font-size: 13px;
    }
}
.profilesession{
    .notify-dropdown {
        width: 100%;
        max-width: 100%;
        height: 100%;
        position: fixed;
        max-height: none;
        left: 0;
        padding: 70px 20px 20px;
        top: 0;
        z-index: 9;
        border-radius: 0;
    }
    .notification-content{
        text-align: left;
    }
}
.modal-title{
    font-size: 18px;
}
.modal-body{
    p {
        font-size: 13px !important;
        margin: 0 0 16px 0 !important;
        line-height: 21px !important;
    }
    label{
        font-size: 13px;
    }
}
.featured-profile{
    padding-bottom: 40px;
    h3{
        font-size: 16px;
    }
    .featured-places{
        span{
            font-size: 15px;
        }
        p{
            &.featured-detail{
                font-size: 15px;
                line-height: 18px;
            }
        }
    }
}
.campaigns{
    margin: 30px 0;
    h3 {
        font-size: 14px;
    }
    .camp-views{
        .view-status-detail{
            width: calc(100% - 65px);
            padding-bottom: 0;
            span{
                font-size: 14px;
            }
            .calender-date{
                font-size: 13px;
            }
            .views-percentage{
                li{
                    margin-right: 13px;
                }
            }
        }
    }
}
.service-provider{
    margin-bottom: 22px;
    margin-top: -12px;
    text-align:center;
    a.btn{
        padding-left: 25px;
        display: table;
        width: 200px;
        margin: 0px auto 10px auto !important;
        &:last-child{
            margin-bottom: 0 !important;
        }
        i{
            left: 9px;
            top: 11px;
            &.icon-message{
                top: 8px;
            }
            &.icon-folder{
                top: 9px;
                font-size: 18px;
            }
        }
    }
    .service-providers-invite {
        padding: 21px 15px 27px 15px;
        margin-bottom: 20px;
    }
}
.job-post-list{
    &.category-service-provider{
        .jobs-done {
            display: inline-block;
            width: auto;
            margin-top: 12px;
            margin-bottom: 9px;
            span{
                display: inline-block;
                width: auto;
                padding: 0px 6px;
            }
        }
        .job-common-description{
            .jobs-rating{
                .vue-star-rating{
                    span.vue-star-rating-star svg{
                        width: 13px;
                        height: 12px;
                    }
                }
                .jobs-done{
                    .review-job{
                        font-size: 12px;
                        padding: 0px 3px;
                    }
                }
            }
        }
    }
}
.advice-tabs{
    padding: 0px 15px;
    li{
        &.nav-item {
            width: 100%;
            margin-bottom: 15px;
            a{
                width: 300px;
                margin: auto !important;
            }
            &:last-child{
                margin-bottom: 0px;
            }
        }
    }
    .card{
       a.btn{
        padding-right: 43px;
        p{
            overflow: hidden;
            text-overflow: ellipsis;
        }
    }
}
}
.detail-page{
    &.category-detail{
        .category-content{
            text-align: center;
            .service-detail{
                text-align: left;
            }
        }
    }
}
.jobs-post-files{
    iframe {
        width: 100%;
        height: 200px;
    }
}
.featured-categories-home{
    .list-description {
        text-align: left;
    }
}
.how-it-work{
    .icon{
        img{
            margin-bottom: 10px !important;
            height: 150px;
                // margin-bottom: 27px;
            }
        }
    }
    .jobs-post-files{
        padding-top: 20px;
    }
    .write-review-popup{
        .modal-dialog {
            height: 100%;
            .modal-content{
                width: 100%;
            }
        }
    }
    .job-main-details.detail-page{
        .job-details {
            padding-top: 10px !important;
            margin-bottom: 0;
        }
        .job-notification{
            .jobs-done{
                text-align: center;
            }
        }
        .chat-feedback{
            .chat-feedback-column{
                padding-left: 43px;
            }
            .job-bidding{
                .chat-feedback-image{
                    top: 9px;
                }
                .job-common-description{
                    padding-bottom: 2px;
                    h3{
                        padding-bottom: 9px;
                    }
                }
                .provider-bidding-btn{
                    a{
                        min-width: 64px;
                        padding: 10px 11px;
                    }
                }
            }
            .jobs-rating{
                .jobs-done{
                    display: inline-block;
                    width: auto;
                    margin-top: 5px;
                    margin-bottom: 4px;
                    span{
                        display: inline-block;
                        width: auto;
                        &.review-job{
                            padding: 0px 2px;
                            font-size: 12px;
                        }
                    }
                }
                .vue-star-rating{
                    span.vue-star-rating-star{
                        svg{
                            width: 11px;
                            height: 15px;
                        }
                    }
                }
            }
        }
        .member-details, .job-details{
            p{
                i{
                    margin-right: 0px;
                }
            }
        }
        .member-details{
            padding-top: 6px;
            p{
                padding-right: 12px;
                &:last-child{
                    padding-right: 0px;
                }
            }
            @include tablet{
                padding-top: 16px !important;
            }
        }
    }
    .job-proposal{
        .provider-bidding-btn{
            padding-top: 0px;
        }
    }
    .chat-feedback-column{
        &.job-bidding {
            &:last-child{
                margin-bottom: 16px;
                padding-bottom: 0px !important;
            }
            .bit-offered {
                font-size: 13px;
                padding-top: 11px;
            }
            .proposal-message{
                padding-top: 5px;
                font-size: 14px;
            }
            .job-common-description{
               h3{
                font-size: 16px;
                top: 5px;
            }
        }
    }
}
.section-local-work {
    .list-icon {
        margin-right: 13px;
    }
    &.section {
        padding: 10px 0;
    }
}
.list-description {
    p {
        max-width: 520px !important;
    }
}

.job-main-title {
    h3 {
        font-size: 15px;
    }
    span {
        display: inline-block !important;
        i {
            font-size: 16px;
            img {
                width: 15px !important;
            }
        }
    }
}

.profile-budget {
    padding: 22px;
    min-height: 335px;
    margin-bottom: 30px;
    .payment-continue {
        margin-top: 0;
    }
}
}
@include mobileS {
    .wrapper-sm {
        max-width: 320px;
    }
    .sign-up-info{
        .custom-radio.boxed {
            width: 98%;
        }
    }
    .boxed {
        display: block !important;
    }
    .labelheading {
        font-size: 12px;
        margin-bottom: 15px;
    }
    .list-description {
        p {
            max-width: 320px;
        }
    }
}


@include mobile{
    .search-filter {
        margin-top: 20px !important;
    }
    .custom-multi {
    }
    .main-banner.home-banner {
        height: 280px;

        .main-img {
            height: 100%;

            img {
                width: 100%;
                height: 100%;
            }
        }
        .multiselect.multiselect--active {
            .multiselect__input {
                max-height: 21px !important;
            }
        }
        .multiselect__tags {
            padding: 10px 41px 9px 12px !important;
        }
    }
    .section-title h1,.section-title h2{
        font-size: 22px;
    }
    .main-banner.home-banner h1, .main-banner.explore-banner h1{
        font-size: 17px;
    }
    .search-filter input{
        height: 42px !important;
        font-size: 14px !important;
    }
    .main-banner.home-banner .btn, .main-banner.explore-banner .btn{
        margin-top: 5px;
        max-width: 375px;
    }
    .featurecategory .item .list-icon.sm{
        margin-right:auto;
    }
    .featured-categories-home .services-list.service-list-icons .list-description{
        text-align: center !important;
    }
    .featured-categories-home .services-list.service-list-icons .list-description p{
        margin-left: auto;
    }
    .Popular-services-slides li .box-img{
       max-width: 300px;
       width:100%;
    }
    .how-it-work .icon{
        margin: 0 auto 22px;
    }
    .how-it-work-list{
        margin-bottom: -15px;
    }
    .Popular-services-slides li h6{
        font-size: 17px;
    }
    .testmonial-section .item-list .item{
        margin-bottom: 20px;
    }
    .footer-links ul{
        margin-bottom: 20px;
    }
    .footer-links ul li strong{
        margin: 5px 0 7px;
    }
    .footer-copyrights .float-left p{
        margin-bottom:5px;
    }
    .top-footer{
        margin-bottom: 23px;
        padding-bottom: 0;
    }
    .content-sec .category-image{
        width:100%;
        max-width: 388px;
        height: 274px;
    }
    .content-sec .category-content h2, .content-sec .job-content h2{
        margin-bottom:5px !important;
    }
    .job-common-description .post-bid{
        font-size: 14px !important;
        padding: 12px 12px !important;
    }
    .chat-feedback .chat-feedback-message p{
        font-size: 14px;
    }
    .category-section .category-items .showmore{
        margin-top: -15px;
    }
    .category-section .showmore i{
        top: 0px;
    }
    .top-footer{
        text-align: center;
    }
    .footer-logo{
        margin: 0 auto 25px;
    }
    .ready-to-meet .avability-app a{
        margin-right: 0;
    }
    .list-description p, .testmonial-block p,.section-title p,.content-sec p{
        font-size: 15.5px;
    }
    .section-title h2.btm-space{
        margin-bottom: 12px;
    }
    .content-sec h2{
        margin-bottom: 7px !important;
    }
    .Popular-services-slides li p{
        width: auto;
        display: table;
        margin: 0 auto;
        text-align: center;
        left: 0;
    }
    .Popular-services-slides li p i{
        position: relative;
        left: 0 !important;
        margin-right: 10px;
        top: -3px;
    }
    .header .logo{
        max-width: 183px;
        top: 3px;
    }
    .how-it-work .list-description p{
        max-width: 320px !important;
    }
    .wrapper-sm{
        max-width: 414px;
        width: 92%;
    }
    body label{
        font-size: 15px;
    }
    #urgent-job .row .col-md-6:nth-child(1) .form-group {
        margin-bottom: 0;
    }
    .modal-footer,.modal-header{
        padding: 15px 33px 15px 33px !important;
    }
    .job-common-description.job-perform .post-bid{
        float: left;
        margin-right:10px;
    }
/*     #award-job .category-selected .category-image-block{
        width: 70px;
        height: 59px;
    }
    #award-job .category-search-field h5{
        margin: 23px 0 18px 0 !important;
    } */
    .member-details, .job-details{
        padding-top: 0;
    }
    .job-common-description.job-perform{
        margin-bottom:17px;
        padding-bottom: 15px;
    }
    .modal-body .category-selected .category-image-block{
        width: 70px;
        height: 59px;
    }
    .navigation.main-navigation > ul{
        height: calc(100% - 73px);
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .navigation.main-navigation > ul li{
        max-width: 100%;
        display: block;
    }
    .navigation.main-navigation ul li a{
        font-size:17px;
    }
    .navigation.main-navigation > ul li:last-child{
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        width: 92%;
        max-width: 414px;
        display: block;
        margin: 0 auto;
        height: 46px;
        a{
            display: block;
        }
    }
    .navigation.main-navigation .profilesession{
            height: auto;
    }
    .navigation.main-navigation > ul ul li.setting-li{
        right: 44px;
        left: auto;
        top: 5px;
    }
    .navigation.main-navigation > ul ul li.bell-li{
        right: 43px;
        left: auto;
        top:5px;
    }
    .navigation.main-navigation > ul ul li:last-child{
        right: 0;
        left: auto;
    }

    .notofications-dropdown{
        ul{
            clear: both;
            display: block;
            overflow: hidden;
            li{
                display: block !important;
                position: relative !important;
            }
        }
    }

    .notification-close {
        position: fixed;
        display: block;
        right: 0;
        top: 0;
        font-size: 29px;
        z-index: 9;
        width: 100%;
        background-color: #fff;
        text-align: left;
        padding: 20px 22px 17px 22px;
        border-bottom: 1px solid $grey-lite;

        h4{
            margin-bottom: 0;
            font-size: 18px;

            button{
                line-height: 0.8;
            }
        }
    }

    .featurecategory{
        width: 100%;
        .item{
            padding: 0px !important;
        }
    }
    .apple-store-btn{
        width: 100%;
        display: inline-block;
        max-width: 110px;
    }
    .ready-to-meet .avability-app .apple-store-btn img{
        width: 110px;
    }
    .ready-to-meet .avability-app .google-store-btn img{
        width: 124px;
    }
    .auth-logo-wrapper{
        .logomob{
            display: none;
        }
    }
    .category-search-field{
        padding-top: 25px;
    }
    .member-details, .job-details {
        padding-top: 10px;
    }
    .mobileApp-popup .modal-dialog .category-selected{
        padding-bottom: 0px;
    }
    .advice-tabs{
        .card{
            margin-bottom: 0px !important;
        }
        .card-body{
            padding: 9px 8px;
        }
    }
    .advice-topics{
        margin-bottom: 40px;
    }
    .advice-topics.advices{
        margin: 0px !important;
    }
    .job-post-details .job-perform a.chat-message {
        float: right;
        position: relative;
        top: 7px;
    }
    .post-bid-form{
        .modal-header{
            display: block;
            position: relative;
            button.close{
                position: absolute;
                right: 27px;
                top: 11px;
            }
        }
        .modal-footer{
            display: block;
            padding-bottom: 10px !important;
        }
    }
    .section.services{
        .list-icon{
            width: 75px;
            height: 75px;
            .inner{
                width: 57px;
                height: 74px;
                margin: 0 auto;
                img{
                    width: 90%;
                }
            }
        }
    }
    .list-description p, .testmonial-block p, .section-title p, .content-sec p{
        font-size: 14.5px !important;
    }
    .navigation ul li a.router-link-active{
        background-color: transparent !important;
        color: $primary-color-md !important;
    }
    .categories-popup{
/*         .modal-body{ */
                .category-selected{
                    display:block;
                    padding:0;
                    padding-bottom: 18px !important;
                    .category-image-block{
                        width: 100%;
                        height: 198px;
                        max-width: 414px;
                        display: block;
                        float: none;
                    }
                    h4{
                        margin: 0;
                        margin-top: 18px;
                        text-align: center;
                        font-size: 20px;
                    }
                }
                .category-search-field{
                    padding-top: 10px;
                    .btn{
                        display: block;
                        width: 100%;
                        max-width: 375px;
                    }
                    h5{
                        font-size: 15px;
                        margin: 13px 0 14px 0 !important;
                    }
                }
            .modal-body{
                .category-content-block i.icon-close2, i.icon-close2{
                    top: -24px;
                    right: -24px;
                }
            }
        }

    .section-padd{
        padding:35px 0 !important;
    }
    .job-post-container.section-padd.sm{
        padding:35px 0 !important;
    }
    .main-banner .content,.featured-categories-home,.section{;
        padding:35px 0 !important;
    }
    .main-banner .content{
        padding-top: 32px !important;
    }
    .featured-categories-home{
        padding:35px 0 10px !important;
        .featurecategory .item .list-icon.icon1 .inner {
            width: 37px;
            margin-left: auto;
            margin-right: auto;
        }
    }
    .how-it-work,.hm-testimonial-section{
        padding-bottom: 20px !important;
    }
    .menuiconbutton {
        top: 10px;
        font-size: 42px;
        right: 12px;
    }
    .bidding-sec{
        h2{
            padding-bottom: 19px;
        }
    }
    .bidding-navigation{
        .list-box{
            display: none;
        }
        .mobile-select-box{
            display: block;
            padding: 0px 20px;
            margin-bottom: 10px;
        }
    }
    .job-main-heading .content-sec .job-content .job-notification.flexable .job-details{
        text-align: center;
    }
    .section.explore-section-section{
        padding: 35px 0 !important;
    }
    .explore-section-section{
        input{
            float:left;
            &.zip-code{
                margin-left: 0;
            }
        }
    }
    .job-post-list{
        margin-bottom: 35px;
    }
    .explore_detail_page{
        .elementary-banner{
            padding-bottom: 12px !important;
        }
    }
    .job-common-description{
        margin-bottom:10px;
        .jobs-rating{
            margin-bottom: 12px;
        }
    }
    .chat-feedback .text-notifer p{
        font-size: 15px;
    }
    .category-section{
        border-bottom: solid 1px $grey-lite;
        margin-bottom: 21px;
        padding-bottom: 10px;
        &:last-child{
            border-bottom: none;
            margin-bottom: -16px;
            padding-bottom: 0;
        }
        .category-title{
            text-align:center;
            margin-bottom: 24px;
            h2{
                font-size: 22px;
            }
        }
    }
    .job-post-container.section-padd.sm{
        padding-bottom: 5px !important;
    }
    .footer-section{
        .section-padd{
           padding-bottom: 10px !important;
        }
    }
    .job-details{
        padding-top: 0;
    }
    .service-need{
        .boxed{
            padding:10px
             0;
        }
    }
    .my-job-indication, .bidding-sec {
        padding-top: 30px;
    }
    .my-job-indication p, .bidding-sec p{
        font-size: 15px;
    }
    .post-job-description p{
        margin-bottom:10px;
        margin-top: 3px;
    }
    .job-details,.member-details{
        p{
            font-size: 14px;
            position:relative;
            padding: 0 0 0 27px !important;
            display: block;
            i{
                position: absolute !important;
                top: 2px;
                left: 0;
                font-size: 16px;
            }
        }
    }
    .services-list.service-list-icons .col-sm-4{
        margin-bottom: 22px !important;
    }
    .other-categories{
        .category-section{
            border-bottom:none;
            margin-bottom: 0px;
            padding-bottom:0;
        }
        .category-title{
            text-align: left;
            margin-bottom:0;
        }
    }
    .join-pro-bannner{
        border-bottom:solid 1px $grey-lite;
        .content{
            background-color:$grey-Elite;
        }
    }
    .list-description{
        width:100%;
        text-align:center;
        max-width:414px;
        margin: 0 auto;
        display: block;
    }
    .section-local-work .list-description h4{
        padding-bottom: 7px;
    }
    .section.services .list-icon{
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 20px;
    }
    .services.two-column .services-list ul li{
        padding-bottom: 35px;

        &:last-child{
            padding-bottom:0px;
        }
    }
    .explore_page{
        .other-categories{
            padding-bottom:10px !important;
        }
    }
    .Join_pro{
        .how-it-work{
            padding-bottom: 47px !important;
        }
    }
    .ready-to-meet{
        text-align:center;
        .two-column{
            .content-sec{
                padding-right: 0;
                .avability-app{
                    .apple-store-btn{
                        width: 100px;
                    }
                    .google-store-btn{
                        width: 110px;
                    }
                }
            }
        }
    }

    .footer-links{
        ul{
            li{
                ul{
                    li{
                        &:first-child{
                            img{
                                width: 100px !important;
                                height: auto !important;
                            }
                        }
                        &:last-child{
                            img{
                                width: 110px !important;
                                height: auto !important;
                            }
                        }
                    }
                }
            }
        }
    }
    .service-provider-form{
        margin-bottom: 25px;
    }
    .sign-up-info{
        padding-bottom: 11px !important;
    }
    .job-main-heading{
        &.elementary-banner{
            padding-top: 44px !important;
        }
    }
    .next-project{
        .content-sec{
            .btn{
                margin: 0 auto;
                float: none;
                display: block;
                max-width: 375px;
                &.go-back{
                    padding-left: 0;
                    padding-bottom: 0;
                    margin-top: 8px;
                    margin-bottom: -15px;
                }
            }
        }
    }
    .job-main-heading .content-sec .job-image,.next-project .content-sec .category-image{
        width: 100%;
        max-width: 200px;
        height: 202px;
    }
    .profile-page{
        .profile-form{
            padding-bottom: 2px !important;
            margin-bottom: 0;
        }
        .profile-head{
            margin-top:0;
        }
    }
    .service_provider_detail_page{
        .job-post-container.section-padd.sm{
            padding-bottom: 21px !important;
        }
    }
    .job-notification .job-poster{
        padding-right: 0;
    }
/*     .job-post-container{
        .service-provider{
            a{
                width: 32%;
                display: inline-block;
                vertical-align: top;
            }
        }
    } */
    .text-notifer h3{
        margin-bottom: 12px;
    }
    .job-main-details.detail-page .chat-feedback .job-bidding .chat-feedback-image{
        top: 5px;
    }
    .job-main-details.detail-page .chat-feedback .job-bidding .job-common-description h3{
        padding-bottom: 17px;
    }
    .coustomer-info-line i{
        font-size: 21px;
    }
    .service-detail h3{
        font-size: 20px;
    }
    .explore_detail_page{
        .next-project{
            .category-image{
                width: 100%;
                height: 277px;
                max-width: 100%;
            }
        }
    }
    .job-detail-page{
        .job-main-details{
            .job-content{
                margin-bottom: -12px;
            }
            .job-notification{
                .job-details{
                    p{
                        display: table;
                        width: auto;
                        margin: 0 auto 10px;
                    }
                }
            }
        }
        .chat-feedback{
            .chat-feedback-column{
                &.job-bidding{
                    padding-bottom:30px !important;
                    margin-bottom: 44px;
                }
            }
        }
    }
    .service-provider{
        a.btn{
            width:49%;
            margin-bottom: 45px;
            display: inline-block;
            vertical-align: top;
        }
        .service-providers-invite{
            a.btn{
                display: block;
                width: 100%;
                margin-bottom:0;
            }
        }
    }
    .home_body .next-project .content-sec .btn,.advice-center-page .need-help-text .btn{
        display: table;
        width: auto;
        margin:0 auto;
    }
    .user-img{
        position: relative;
        top: -3px;
    }
    #visit-request{
        .category-selected{
            height: auto;
            display: block;
            clear: both;
            overflow: hidden;
            .category-content-block{
                width: 100%;
                padding: 0;
                margin: 15px auto 0;
                h6{
                    margin-bottom:0;
                }
            }
        }
        .category-search-field{
            p{
                font-size: 15px !important;
            }
            .btn{
                margin-bottom:15px;
            }
        }
    }
    .user-login-detail .username{
        top: -3px;
    }
    .service-provider{
        margin-bottom: 34px;
        text-align:center
        .btn{
            text-align:center;
        }
    }
    .provider-information{
        .proposal-message{
            p{
                margin-bottom: 0;
            }
        }
    }
}

@include tabletportraitlayout{
    .bidding-navigation{
        li{
            border-bottom: 2px solid #E0E0E0;
        }
    }
    .menuiconbutton{
        top: 21%;
    }
    .tabletdiv {
        float: right;
        margin-top: 14px;
        margin-right: 31px;
        .profilesession{
            li{
                a{
                    color: transparent !important;
                }
                i{
                    font-size: 30px;
                    color: #7D7D7D;
                }
            }
            .user-login-detail{
                margin-top: -11px;
            }
            .account-info-keys{
                ul{
                    padding-left: 0;
                    li{
                        padding: 0px 9px !important;
                    }
                }
            }
            .notify-dropdown{
                padding-left: 17px;
            }
        }
    }
    .section.services{
        .list-icon{
            width: 60px;
            height: 60px;
            .inner{
                width: 60px;
                height: 60px;
                img{
                    width: 90%;
                }
            }
        }
    }
    .elementary-banner.explore-banner{
        .main-img {
            padding: 23px 0px;
            background-color: #fcfcfc;
        }
         .content-inner.md {
            max-width: 420px;
        }
    }
    .related-service-category{
        padding-left: 1px;
    }
    .text-left-mobile{
        text-align:left;
    }
    .post-bid{
        min-width: 100px;
        line-height: 22px;
        border-radius: 8px;
        width: auto;
        word-wrap: break-word;
        word-break: break-all;
        white-space: normal;
        height: auto;
        font-size: 14px;
        padding: 9px 11px !important;
    }
}

