.colorpicker.colorpicker-with-alpha
{
    min-width: 260px !important;
    padding:10px;
    margin-left: 8px;
    margin-top: -2px;
}

.colorpicker-saturation{
    width: 189px !important;
    height: 189px !important;
}

.colorpicker-hue, .colorpicker-alpha{
    width: 20px !important;
    height: 185px !important;
}

.bootstrap-colorpicker .color-pallet
{
    i{
        float:right;
    }
}
