body{
    .form-group{
        position:relative;
    }
    label{
            font-size:$label-font-size;
            color:$label-color;
            margin:$label-margin;
            font-family:$font_bold;
            padding:0;
            line-height:normal;
        &.col-form-label{
            font-size:$label-font-size;
            color:$label-color;
            margin:$label-margin;
            font-family:$font_bold;
            padding:0;
            line-height:normal;

            @include tabletL{
                font-size: 13px;
            }
        }
        &.with-regular-font{
            font-family:$font-regular;
        }
    }

    .form-control{
        height:$input-height;
        font-family:$font-regular;
        font-size:$input-font-size;
        padding:$input-padding;
        border-color:$input-border;
        border-radius:$input-radius;
        /* color:$text-primary-color; */
        color: #000000;

        &:focus{
            box-shadow:none;
            color: #000000;
            border-color:$input-focus-border-color;
        }
    }
    .form-group{
        .input-icon{
            position: absolute;
            right: 14px;
            top: 37px;
            font-size: 18px;
            display:none;
        }
        &.is-valid,&.is-invalid,&.has-error{
            &:after{
                position: absolute;
                right: 14px;
                top:33px;
                font-size: 18px;
                font-family: 'icomoon' !important;
            }
        }
        &.is-invalid{
            .form-control{
                border-color:$danger-bg;
                box-shadow:none;
                background-image:url('../images/alert-icon.svg');
                background-repeat: no-repeat;
                background-size: 21px auto;
                background-position: 98% 53%;
            }

           /*  &:after{
                content:"";
                position:absolute;
                right:0;
                top:0;
                color:$danger-color;
            } */
        }
        &.is-valid{
            .form-control{
                border-color:$success-color;
                box-shadow:none;
                background-image:url('../images/check-symbol.svg');
                background-repeat: no-repeat;
                background-size:24px auto;
                background-position:98% 53%;
            }/*
            &:after{
                content:"";
                position:absolute;
                right:0;
                top:0;
                background-image:url('../images/check-symbol.svg');
                background-repeat: no-repeat;
                background-size: 19px auto;
                background-position: right center;
                color:$success-color;
            } */
        }
    }
}
body{
    .custom-file{
        input{
            cursor: pointer;
        }
        .custom-file-label{
            font-family: $font_regular;
            color: $greyD;
            overflow: hidden;
        }
    }
    .custom-file-input:focus ~ .custom-file-label{
        border-color: #ced4da;
        box-shadow: none;
    }
}

.custom-checkbox
{
    position:relative;
    padding-left: 0;
    label{
        position:relative;
        padding-left:22px;
        font-family: $font_regular;


        &:before{
            content:'';
            position: absolute;
            left: 0;
            top: 6px;
            width: $checkbox-width-height;
            height: $checkbox-width-height;
            border: solid 1px $section-border-color;
            border-radius: $global-radius;
        }
        i{
            position: absolute;
            left: 2px;
            top: 4.5px;
            color: #fff;
            font-weight: lighter;
            font-size: 10px;
            width: 15px;
            display: none;
        }
        strong{
            padding-left: 0px;
            font-size: 13px;
        }
    }

    input{
        position:absolute;
        width:100%;
        height:100%;
        left:0;
        top:0;
        cursor: pointer;
        opacity:0;
        padding:0;
        margin:0;
        z-index:99;
    }

    input[type="checkbox"]:checked + label:before{
        background-color:$secondary-color;
        border-color:$secondary-color;
    }
    input[type="checkbox"]:checked + label i{
        display:block;
    }
/*
    input[type="checkbox"]:checked + .icon-border i,input[type="radio"]:checked + .icon-border i,{
        color:$anchor-color;
        display:block;
        background-color: $primary-color;
        width: 16px;
        height: 16px;
        margin-top: 3px;
        margin-left: 3px;
        border-radius: 4px;
    } */
}

textarea{
    height: 100px!important;
    resize:none;
}


.sorting-checkbox {
    .custom-control-label {
        &:before {
            background-color: transparent !important;
            border: 1px solid #dddddd !important;
        }
        &:after {
            left: 1px !important;
            top: 0 !important;
        }
    }
    .custom-checkbox {
        margin-left: -18px;
        top:5px;
    }
}
.custom-file {
    position: relative;
    display: inline-block;
    width: 93%;
    height: calc(2.19rem + 2px);
    margin-bottom: 0;
}

.uploded-picture {
    width: 37px;
    height: 35px;
    display: inline-block;
    vertical-align: top;
    overflow: hidden;
    background-size: 100%;
    margin-top: 1px;
    border: 1px solid #d9d9d9;
}

.radio-group-row
{
    margin-top: 7px;
    label{
        margin:0 15px 0 0;
    }
    .form-check{
        position: relative;
        top: 3px;
    }
}

.datepicker-row{
    margin-bottom:30px;
    border-bottom:solid 1px $primary-color-lighten;
}

.datepicker-field
{
    margin-bottom:10px;

    input{
        height:$input-height;
        font-family:$font-regular;
        font-size:$input-font-size;
        padding:$input-padding;
        border-radius:$input-radius;
        color: #1a1a1a;
        max-width: 100% !important;
        width: 100% !important;
        outline: none;
        border: none;
        border: solid 1px $input-border;

        &:focus{
            width:100%;
            box-shadow:none;
            color: #1a1a1a;
            border-color:$input-focus-border-color;
        }
    }
}


input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

.vdp-datepicker.is-invalid input {
   border-color: #d9534f;
}


.general-setting{
    textarea[aria-invalid='true'], input[aria-invalid='true'], select[aria-invalid='true'] {

        border-color:$danger-bg;
        box-shadow:none;
        background-image:url('../images/alert-icon.svg');
        background-repeat: no-repeat;
        background-size: 21px auto;
        background-position: 98% 53%;
    }    
}
.label-with-120{
    width:120px;
}
.label-with-150{
    width:150px;
}
.label-with-200{
    width:200px;
}
